.signupform{
        margin-top: 5vw;
        display: flex;
        overflow: auto;
        flex-direction: column;
        width:45%;
        padding:3vw;
        margin-left: auto;
        margin-right: auto;
        border: 2px solid rgb(5, 135, 187);
}
.signupform>input{
        margin-bottom: 1vw;
        height: 2.5vw;
        color: rgb(5, 135, 187);
        font-size: 1.5vw;
        border: 1px solid skyblue;
}
.signupform>input:focus{
        outline: 1px solid skyblue;
}
.signupform>button{
        width:40%;
        font-family: Arial, sans-serif;
        background-color:rgb(5, 135, 187);
        border: none;
        border-radius: 2px;
        height: 3vw;
        margin-left: auto;
        margin-right: auto;
        color: white;
        font-size: 2vw;
        font-weight: 500;
}